<nav class="navbar navbar-expand-md navbar-light bg-white green-shadow-sm py-0">
    <div class="container-fluid px-0">
        <a class="navbar-brand ps-2 px-1 mx-0 green-navbar-link" href="">RVC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                <li class="nav-item green-navbar-link"
                    *ngFor="let navItem of navigationList; index as i; last as isLast">
                    <a class="nav-link active green-navbar-link" href="">
                        {{ navItem }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>