<div class="backgroundVideo">
    <video autoplay muted loop controls oncanplay="this.play()" onloadedmetadata="this.muted = true"
        id="backgroundVideoSize">
        <source src="../../assets/backgroundVideo.mp4" type="video/mp4">
    </video>
</div>
<div class="videoDarkening"></div>
<div>
    <div class="card cardCenter green-shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-center">Robin Van Craenenbroek</h2>
            <img src="../../assets/LinkedIn_profile.jpg" class="card-img-top profilePicture"
                alt="Robin Van Craenenbroek Profile Picture">
            <div class="ps-2" style="float:left;width: 55%;">
                <p class="card-text">Software/Machine learning Engineer</p>
                <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pin-map-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z" />
                        <path fill-rule="evenodd"
                            d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z" />
                    </svg>
                    : Brussels</p>
                <p class="card-text">Hi, I am a Software engineer who Studied at Erasmus University of Brussels as a
                    B.S. Software Engineer with a specialication in Artificial intelligence.</p>
                <p>I always want to improve myself and the
                    project I work on.</p>
                <p>I love learning new things, swimming and fantasy stories. I also have a great interest in
                    economics.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card cardCenter green-shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center">Robin Van Craenenbroek</h2>
                <img src="../../assets/LinkedIn_profile.jpg" class="card-img-top profilePicture"
                    alt="Robin Van Craenenbroek Profile Picture">
                <div class="ps-2" style="float:left;width: 55%;">
                    <p class="card-text">Software/Machine learning Engineer</p>
                    <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-pin-map-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z" />
                            <path fill-rule="evenodd"
                                d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z" />
                        </svg>
                        : Brussels</p>
                    <p class="card-text">Hi, I am a Software engineer who Studied at Erasmus University of Brussels as a
                        B.S. Software Engineer with a specialication in Artificial intelligence.</p>
                    <p>During working hours, I am a focussed person and I always want to improve myself and the
                        project I work on.</p>
                    <p>I love learning new things, swimming and fantasy stories. I also have a great interest in
                        economics.</p>
                </div>
            </div>
        </div>
    </div>