<video autoplay muted loop controls playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true"
    id="backgroundVideoSize">
    <source src="../../assets/PCBuildingLowQ.mp4" type="video/mp4">
</video>

<div class="bgBlock mt-0">
    <h2 class="ms-2 text-center">Work Experience</h2>
    <ul class="list-group me-4">
        <h4 class="year ms-2">2020 -> 2020</h4>
        <li class="function list-group-item">
            <h5><b>Software Dev. Internship at <a target="_blank" href="https://www.inkconsulting.be/">Ink
                        Consulting</a> -
                    Brussels</b>
            </h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <h6>Project Description:</h6>
                    <p>
                        Making and coding an Algorithm that could transfer ordered data from development to production
                        in
                        Salesforce using Javascript and Apex. The project was executed in an Agile environment.
                    </p>
                </li>
                <li class="list-group-item">
                    <h6>Skills And Software:</h6>
                    <p>UML, SQL, Javascript, Apex, Github, Databases, Agile methodology, Salesforce Platform,
                        Confluence, Jira,
                        Sharepoint</p>
                </li>
            </ul>
        </li>
        <h4 class="year ms-2 mt-2">2012 -> 2022</h4>
        <li class="function list-group-item">
            <h5><b>Swimming Teacher at <a target="_blank" href="http://www.dizv.be/">DIZV</a> and <a target="_blank"
                        href="https://zwemclubwimber.com/">Wimber</a> - Dilbeek/Brussels</b>
            </h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <h6>Description:</h6>
                    <p>
                        Teaching children between 3 – 16 years old to swim.
                    </p>
                </li>
            </ul>
        </li>
        <h4 class="year ms-2 mt-2">2016 -> 2017</h4>
        <li class="function list-group-item">
            <h5><b>Meta-data collector at <a target="_blank" href="https://www.astro.oma.be/en/">Royal Observatory of
                        Belgium</a> - Brussels</b>
            </h5>
        </li>
        <h4 class="year ms-2 mt-2">2014 -> 2016</h4>
        <li class="function list-group-item">
            <h5><b>Shop keeper at <a target="_blank" href="https://www.bioplanet.be/">Bio-Planet(Colruyt Group)</a> -
                    Dilbeek</b>
            </h5>
        </li>
    </ul>
</div>